.DS_Store

__pycache__/
*.py[cod]

.ipynb_checkpoints/

.venv
.torchfront
.vscode

Deploy/Apollo5/
Deploy/AudioMoth/
Deploy/ESP/
eval_utils/results/

Data/
Models/
*.csv
*.text
*.txt
!requirements.txt
*.keras
*.tflite
*.npy
*.zip

test*